html{
    background-color: #020200;
    color: #F2D43D;
    text-align: center;
    padding: 3em;
    font-family: sans-serif;
}

h1{
   font-size: 4em;
}

p{
   font-size: 3em;
   text-transform: uppercase;
}


img{
    width: 800px;
}

.maxWidth{
    max-width: 90em;
}

@media screen and (min-width: 48em){
    .body{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

@media screen and (min-width: 48em){
    .body{
        width: calc(50% - 2rem);
    }
}

footer{
    font-size: 1.5em;
    font-style: italic;
    padding: 2em;
}
